<h2>Edit your profile</h2>
<br><br>
<div class="form-inputs container-form-post card-bg">
  <%= simple_form_for(
    resource,
    as: resource_name,
    url: registration_path(resource_name),
    html: { method: :put },
    autocomplete: "off") do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, required: true, autofocus: true %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <%= f.input :first_name,
              required: false %>
  <%= f.input :last_name,
            required: false %>
  <%= f.input :nickname,
              required: true %>
  <%= f.input :photo, as: :file %>
<br>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: 'btn yellow-button' %>
  </div>
  <% end %>
</div>
