<div class="card-bg col-md-12">
    <div class="post-card-music">
        <%= link_to user_path(publication.user) do %>
      <div class="card-avatar-nickname row col-md-12">
          <% if publication.user.photo.attached? %>
            <%= cl_image_tag publication.user.photo.key, crop: :fill, class: 'col-2 col-md-1' %>
          <% else %>
            <%= image_tag 'avatardefaut.jpg', class: 'col-2 col-md-1' %>
          <% end %>
          <h4 class='col-10 col-md-5'><%= publication.user.nickname %></h4>
      </div>
        <% end %>
        <div class="card-content-song row col-sm-12 col-md-12">
          <div class="card-cover col-sm-12 col-md-3 ">
            <%= image_tag(publication.cover_url) %>
          </div>
          <div class="card-title-artist col-sm-12 col-md-8 ">
            <h2><%= publication.title %></h2>
            <h4><%= publication.artist %></h4>
            <p><%= "#{(publication.song_duration / 60_000) < 10 ? "0#{publication.song_duration / 60_000}" : publication.song_duration / 60_000}:#{(publication.song_duration / 1_000 % 60) < 10 ? "0#{publication.song_duration / 1_000 % 60}" : publication.song_duration / 1_000 % 60}"%></p>
          </div>
          <div
            class="card-play col-sm-12 col-md-1 "
            data-action='click->player#sendtrack'
            data-track-id='spotify:track:<%= publication.spotify_url %>'
          >
            <i class="far fa-play-circle"></i>
          </div>
        </div>
        <p class="publication-date">Posted on <%= publication.created_at.strftime("%d %B %Y") %></p>
      <div class="card-content col-md-12">
        <p><%= publication.content %></p>
      </div>
      <div class="post-card-interraction row col-sm-12 col-md-4">
        <i class="fas fa-heart col-md-1"></i>
        <%= render 'publications/button_repost', track_id: publication.spotify_url %>
        <%= render 'publications/button_add', track_id: publication.spotify_url %>
        <% if publication.user_id == current_user.id %>
            <%= link_to publication_path(publication.id), method: :delete do %>
              <i class="fas fa-times col-md-1"></i>
            <% end %>
          <% end %>
      </div>
    </div>
</div>
