<div class="card-post-bg">
  <div class="home-post-card">
    <% if publication.track %>
      <div class="home-post-card-music">
        <div class="home-post-card-avatar-nickname">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, crop: :fill, class: 'avatar' %>
          <% else %>
            <%= image_tag 'avatardefaut.jpg', class: 'avatar' %>
          <% end %>
          <p><strong><%= publication.user.nickname %></strong></p>
        </div>
        <div class="home-post-card-infos">
          <div class="home-post-card-content-top">
            <div class="home-post-card-cover">
              <%= image_tag(publication.track.album.images.first["url"]) %>
            </div>
            <div class="home-post-card-title-artist">
              <h2><%= publication.track.name %></h2>
              <p><%= publication.track.artists[0].name %></p>
            </div>
            <div class="post-card-play" data-action='click->player#sendtrack' data-track-id='spotify:track:<%= publication.track_id %>'>
              <i class="far fa-play-circle"></i>
            </div>
          </div>
        </div>
        <div class="home-post-card-content-bottom">
          <p><%= publication.content %></p>
        </div>
        <div class="home-post-card-interraction">
          <i class="fas fa-heart"></i>
          <i class="fas fa-comment"></i>
          <i class="fas fa-share"></i>
        </div>
      </div>
    <% else %>
    <div class="home-post-card-music">
        <div class="home-post-card-avatar-nickname">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, crop: :fill, class: 'avatar' %>
          <% else %>
            <%= image_tag 'avatardefaut.jpg', class: 'avatar' %>
          <% end %>
          <p><strong><%= publication.user.nickname %></strong></p>
        </div>
        <div class="home-post-card-content-bottom">
          <p><%= publication.content %></p>
        </div>
        <div class="home-post-card-interraction">
          <i class="fas fa-heart"></i>
          <i class="fas fa-comment"></i>
          <i class="fas fa-share"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>
