<div class="card-bg">
  <div class="post-card-music">

    <div class="post-card-music-header d-flex justify-content-between">

      <div class="card-avatar-nickname">
        <%= link_to user_path(publication.user) do %>
          <% if publication.user.photo.attached? %>
            <%= cl_image_tag publication.user.photo.key, crop: :thumb, gravity: :face, class: 'col-2 col-md-1' %>
          <% else %>
            <%= image_tag 'avatardefaut.jpg' %>
          <% end %>
          <h4><%= publication.user.nickname %></h4>
        <% end %>
      </div>


      <div
        class="card-play"
        data-action='click->player#sendtrack'
        data-track-id='spotify:track:<%= publication.spotify_url %>'
      >
        <i class="play-circle-card"><%= image_tag('play.png') %></i>
      </div>
    </div>

    <div class="card-content-song row col-sm-12 col-md-12">
      <div class="card-cover col-sm-12 col-md-3 ">
        <%= image_tag(publication.cover_url) %>
      </div>
      <div class="card-title-artist col-sm-12 col-md-8 ">
        <div class="textbox">
          <h2><%= publication.title %></h2>
        </div>
        <h4><%= publication.artist %></h4>
        <p><%= "#{(publication.song_duration / 60_000) < 10 ? "0#{publication.song_duration / 60_000}" : publication.song_duration / 60_000}:#{(publication.song_duration / 1_000 % 60) < 10 ? "0#{publication.song_duration / 1_000 % 60}" : publication.song_duration / 1_000 % 60}"%></p>
      </div>
    </div>



    <div class="card-content col-md-12">
      <p class="publication-date">Posted on <%= publication.created_at.strftime("%d %B %Y") %></p>
      <p class="publication-content"><%= publication.content %></p>
    </div>

    <div class="post-card-interraction">
        <% if like = publication.like_for(current_user) %>
          <div class="heart">
            <%= link_to publication_like_path(publication.id, like.id), method: :delete do %>
              <% image_tag("liked.png", size: "48x48", alt: "Unlike") %>
            <% end %>
          </div>
        <% else %>
          <div class="heart">
            <%= link_to publication_likes_path(publication.id), method: :post do %>
              <% image_tag("like.png", size: "48x48", alt: "Like") %>
            <% end %>
          </div>
        <% end %>
      <div class="repost">
        <%= render 'publications/button_repost', track_id: publication.spotify_url %>
      </div>
      <div class="add">
        <%= render 'publications/button_add', track_id: publication.spotify_url %>
      </div>
      <div>
        <% if publication.user_id == current_user.id %>
        <%= link_to publication_path(publication.id), method: :delete do %>
              <% image_tag("trash.png", size: "48x48", alt: "Delete") %>
            <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
