<div class="container-home col-md-6 offset-md-3"
 data-controller="feed-subscription"
 data-feed-subscription-feed-id-value="<%= current_user.id %>">
  <h1>Social Feed</h1>
    <div class="container-message" data-feed-subscription-target="messages">
      <% @publications.each do | publication | %>
        <%= render "publication", publication: publication %>
      <% end %>
    </div>

    <div class="container-form">
      <%= simple_form_for @publication, remote: true,
      html: {data: {feed_subscription_target: "form", action: "submit->feed-subscription#reset"}},
      class: "d-flex" do |f| %>
        <%= f.input :content, label: false, placeholder: "Insert your message here" %>
        <%= f.submit "Submit", class: "btn btn-primary"%>
      <% end %>
    </div>
</div>
