<div class="container-right-part">

  <div data-controller="feed-subscription" data-feed-subscription-feed-id-value="<%= current_user.id %>">
    <div class="card-bg">
      <div class="form-home">
        <h2>Find a buddy to follow</h2>
        <div class="forms-style">
          <div class="submit-form">
            <%= form_tag lookforuser_path, method: :get, autocomplete: "off", :class => 'container-form-post container-form-post-search' do %>
                <%= text_field_tag :query,
                                    params[:query],
                                    class: "form-control",
                                    placeholder: "Find a buddy"
                %>
                <%= submit_tag "Search", class: "btn yellow-button-lg mt-3" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <br>

    <% if params[:query].present? %>
      <h1 class="page-header">Buddy matching with "<%= params[:query] %>"</h1>
      <% @match_users.each do |u| %>
        <li><%= u.nickname %> <%= link_to 'See profile', user_path(u.id)%></li>
      <% end %>
    <% end %>
    <h1>Posts you may like</h1>
    <% if @publications.any? %>
      <div class="container-message" data-feed-subscription-target="messages">
        <% @publications.each do | publication | %>
          <%= render "publication", publication: publication %>
        <% end %>
      </div>
    <% else %>
      <div class="card-bg text-center mt-5">
        <h1>Looks like you know everyone!</h1>
      </div>
    <% end %>

  </div>
</div>
