<div class="container-right-part">
  <div class="row profil-top">

  <div class="col-4">
    <div class="profile-pic">
      <% if @user.photo.key? %>
        <%= cl_image_tag @user.photo.key, crop: :thumb, gravity: :face, class: 'rounded-pp' %>
      <% else %>
        <%= image_tag("avatardefaut.jpg", size: "200x200", alt: "avatar", class: "rounded-pp")%>
      <% end %>
    </div>
  </div>

  <div class="col-8">
    <div class="user-info">
      <div class="row" data-controller="follow-btn"
                       data-follow-btn-user-id-value="<%= @user.id %>">

        <h1><%= @user.nickname %></h1>

        <% if params[:id].to_i != current_user.id %>
          <%= button_tag current_user.follow?(@user) ? 'Unsubscribe' : 'Subscribe', data: { follow_btn_target: 'btn', action: 'click->follow-btn#toggle' }, class: 'yellow-button' %>
        <% end %>
        <%#= link_to 'Subscribe', subscriptions_path(id: @user.id), method: :post,
        class: "yellow-button #{ 'd-none' if @user.follower_ids.include?(current_user.id) || @user == current_user }",
        "data-follow-btn-target" => "followBtn", "data-action" =>"click->follow-btn#displayUnfollowBtn" %>

        <%#= link_to 'Unsubscribe', subscription_path(id: @user.id), method: :delete,
        class: "yellow-button #{ 'd-none' unless @user.follower_ids.include?(current_user.id) || @user == current_user }",
        "data-follow-btn-target" => "unfollowBtn", "data-action" =>"click->follow-btn#displayFollowBtn" %>
        <div class="user-count" data-follow-btn-target="count">
          <%= @user.followers.count %> Subscribers
        </div>
          <p class="profile-count"><%= pluralize @user.followings.count, "Subscription" %></p>
          <p class="profile-count"><%= pluralize @user.playlists.where(user: @user.id, shaker: true).count, "Shaker" %></p>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <h2><%= pluralize @user.playlists.count, "Playlist" %></h2>
    <% if @user.playlists.any? %>

      <div class="playlist-caroussel">
        <div class="row-playlist-carroussel">
          <% @user.playlists.each do |playlist| %>
            <div class="playlist-carroussel-cover">
              <%= link_to playlist_path(playlist) do %>
                <% if playlist.playlist_songs.count > 0 %>
                  <div class="carroussel-playlist-info">
                    <%= playlist.name  %>
                    <h6> <%= playlist.playlist_songs.count %> tracks </h6>
                  </div>
                  <% if playlist.image_url %>
                    <%= image_tag(playlist.image_url) %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

    <% else %>
      <% if !@user.follower_ids.include?(current_user.id) && params[:id].to_i == current_user.id %>
        <br><br>
        <div class="card-bg text-center mt-5 w-50">
          <h1>You haven't imported any playlists yet</h1>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <h2 class='mt-4'><%= link_to 'Import your playlists', playlists_path, class: 'yellow-button-lg w-100 mt-5' %></h2>
          </div>
        </div>
      <% else %>
        <br><br>
        <div class="card-bg text-center mt-5 w-50">
          <h1>This user hasn't imported <br> any playlists yet</h1>
        </div>
      <% end %>
    <% end %>

  </div>

  <div class="home-posts-cards mt-5" >
    <h2>Publications</h2>
    <div class="home-post-card mt-3" data-feed-subscription-target="connector">
    <% unless @user.publications.empty? %>
      <div class="container-message" data-feed-subscription-target="messages">
        <% @user.publications.order(id: :desc).each do | publication | %>
          <%= render "publications/publication", publication: publication %>
        <% end %>
      </div>

      <br><br>
    <% else %>
      <div class='container-message w-100'>
        <% if !@user.follower_ids.include?(current_user.id) && params[:id].to_i == current_user.id %>
          <div class="card-bg text-center">
            <h1>You don't have any publications yet</h1>
          </div>
        <% else %>
            <div class="card-bg text-center">
              <h1>This user doesn't have any publications yet</h1>
            </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
