<h1 class='home-welcome'>Welcome back,  <%= current_user.nickname %></h1>
<br>
<div data-controller="feed-subscription" data-feed-subscription-feed-id-value="<%= current_user.id %>">
<div class="container-form-post-feed form-inline d-flex flex-column" data-controller='search'>
  <div class='d-flex align-items-center'>
    <div class="submit-form pt-2">
      <small><i>Share with your community</i></small>
      <%= simple_form_for @publication, remote: true,
      html: {data: {feed_subscription_target: "form", action: "ajax:success->feed-subscription#reset"}},
      wrapper: :input_group do |f| %>
        <%= f.input :content, label: false, placeholder: "What are you listening to today?" %>
        <%= f.input :spotify_url, label: false, placeholder: "Spotify URL" %> <!--IMPORTANT-->
    </div>
        <div class="submit-button">
          <%= f.submit "Submit", class: "btn yellow-button"%>
        </div>
      <% end %>
  </div>


  <div class="container-form-post-search d-flex flex-column">
    <div class="d-flex align-items-center">
      <div class="form-left">

        <%= form_tag search_path, method: :get, data: { search_target: 'form'} do %>
          <%= text_field_tag :query,
                              params[:query],
                              class: "form-control",
                              placeholder: "Artist or title",
                              data: {
                              search_target: 'searchInput',
                              feed_subscription_target: 'searchInput',
                              action: "keyup->search#update"
          }%>
      </div>
      <% end %>
      <div data-search-target="list">
      </div>
        <div class="form-right">
          <%#= submit_tag "Search", class: "btn yellow-button" %>
        </div>
    </div>


  </div>


</div>


<div class="home-posts-cards mt-5" >
  <div class="home-post-card">

    <div class="container-message" data-feed-subscription-target="messages">
      <% @publications.order(id: :desc).each do | publication | %>
        <%= render "publications/publication", publication: publication %>
      <% end %>
    </div>
  </div>
</div>
