<div class='container-right-part' data-controller="feed-subscription" data-feed-subscription-feed-id-value="<%= current_user.id %>">


  <div class="card-bg form-inline d-flex flex-column" data-controller='search'>
    <div class='form-home'>
      <h2>Share with your community</h2>
      <div class="forms-style">
        <div class="submit-form pt-2">
          <div class="row form-post-search-song">
            <%= form_tag search_path, autocomplete: "off",method: :get, data: { search_target: 'form'} do %>
              <%= text_field_tag :query,
                                  params[:query],
                                  class: "form-control",
                                  placeholder: "Artist or title",
                                  data: {
                                  search_target: 'searchInput',
                                  feed_subscription_target: 'searchInput',
                                  action: "keyup->search#update",
              }%>
            <% end %>
            <div data-search-target="list" style="position: absolute; bottom: 0;"></div>
          </div>
          <div class="form-post-content mt-2">
            <%= simple_form_for @publication, remote: true,
            html: {data: {feed_subscription_target: "form", action: "ajax:success->feed-subscription#reset"}},
            wrapper: :input_group do |f| %>
                <%= f.input :content, label: false, placeholder: "What's on your mind?" %>
                <%= f.input :spotify_url, label: false, placeholder: "Spotify URL" %> <!--IMPORTANT-->
                <%= f.submit "Post", class: "yellow-button-lg"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="home-posts-cards mt-5" >
    <div class="home-post-card" data-feed-subscription-target="connector">

      <div class="container-message  <% if @publications.empty? %>d-none<% end %>" data-feed-subscription-target="messages">
        <% @publications.order(id: :desc).each do | publication | %>
          <%= render "publications/publication", publication: publication %>
        <% end %>
      </div>

      <br><br>

      <div class='container-message w-100'>
        <div class="card-bg text-center <% if @publications.any? %>d-none<% end %>" data-feed-subscription-target="follow">
          <h1>You don't have any publications yet</h1>
          <br>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <h2>Make your first post or   </h2>
            <h2 class='mt-3'><%= link_to 'Follow someone', publications_path, class: 'yellow-button-lg w-100' %></h2>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
