<div class="container-home">
  <div class="container-page-home">

    <% if user_signed_in? %>
      <h1>Welcome,  <%= current_user.email %></h1>
    <% else %>
      <h1>Welcome to MELOV</h1>
    <% end %>
     <%= link_to 'Shake it', adduser_path %>
    <p>Lastest news from your melow friends :</p>

      <div class="home-posts-cards" >
        <div class="home-post-card">
          <div data-controller="feed-subscription" data-feed-subscription-feed-id-value="<%= current_user.id %>">
          <h1>Social Feed</h1>

          <div class="container-message" data-feed-subscription-target="messages">
            <% @publications.each do | publication | %>
              <%= render "publications/publication", publication: publication %>
            <% end %>
          </div>

          <br><br>

          <div class="container-form">
            <%= simple_form_for @publication, remote: true,
            html: {data: {feed_subscription_target: "form", action: "ajax:success->feed-subscription#reset"}},
            class: "d-flex" do |f| %>
              <%= f.input :content, label: false, placeholder: "Insert your message here" %>
              <%= f.input :spotify_url, placeholder: "insert Spotify URL" %>
              <%= f.submit "Submit", class: "btn btn-primary"%>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
