<h1 class='home-welcome'>Welcome back,  <%= current_user.nickname %></h1>
<br>
<div class="container-form-post">
  <%= simple_form_for @publication, remote: true,
  html: {data: {feed_subscription_target: "form", action: "ajax:success->feed-subscription#reset"}},
  class: "d-flex" do |f| %>
    <%= f.input :content, label: false, placeholder: "Insert your message here" %>
    <%= f.input :spotify_url, label: false, placeholder: "insert Spotify URL" %>
    <%= f.submit "Submit", class: "btn yellow-button"%>
  <% end %>
</div>

<div class="home-posts-cards" >
  <div class="home-post-card">
    <div data-controller="feed-subscription" data-feed-subscription-feed-id-value="<%= current_user.id %>">

    <div class="container-message" data-feed-subscription-target="messages">
      <% @publications.each do | publication | %>
        <%= render "publications/publication", publication: publication %>
      <% end %>
    </div>



  </div>
</div>
