<div class="container-form-post">
  <%= form_tag search_path, method: :get do %>
    <%= text_field_tag :query,
                        params[:query],
                        class: "form-control",
                        placeholder: "Find a music"
    %>
  <%= submit_tag "Search", class: "yellow-button" %>
  <% end %>
</div>
<br><br>
<div class="results">
  <% if params[:query].present? %>
    <h1 class="page-header">Tracks Matching with "<%= params[:query] %>"</h1>
    <% @tracks.each do |track| %>
      <div class="card-result-search">
        <div class="home-post-card-infos">
          <div class="home-post-card-content-top">
            <div class="home-post-card-cover">
              <%= image_tag(track.album.images.first["url"]) %>
            </div>
            <div class="home-post-card-title-artist">
              <h2><%= track.name %></h2>
              <h4><%= track.artists[0].name %></h4>
              <p><%= "#{(track.duration_ms / 60_000)}:#{(track.duration_ms / 1_000 % 60)}"%></p>
            </div>
            <div class="search-card-action">
              <i class="fas fa-plus"></i>
              <%= render 'button_add', track_id: track.id %>
            </div>
            <div class="search-card-action">
              <i class="fas fa-share"></i>
            </div>
            <div class="post-card-play" data-action='click->player#sendtrack' data-track-id='spotify:track:<%= track.id %>'>
              <i class="far fa-play-circle"></i>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= console %>
