<h1>Add a buddy to your shaker :</h1>

<div class="container-form-post-search">
  <div class="form-left">
    <%= form_tag adduser_path, method: :get do %>
      <%= text_field_tag :query,
                          params[:query],
                          class: "form-control",
                          placeholder: "Find a buddy"
      %>
      </div>
      <div class="form-right">
      <%= submit_tag "Search", class: "btn yellow-button" %>
    <% end %>
      </div>
  </div>
</div>
<br><br>
<% if params[:query].present? %>
  <h1 class="page-header">Buddy matching whith "<%= params[:query] %>"</h1>
  <% match_users = @users.where("email LIKE ?", "%#{params[:query]}%") %>
  <% match_users.each do |u| %>
    <li><%= u.nickname %> <%= link_to 'Add user', shaker_path(u.id)%></li>
  <% end %>
<% end %>
