<div class="container-right-part">
  <%= render "import_playlists", playlist: @playlist %>
  <br><br>

  <% if @playlists.any? %>
    <% @playlists.order(id: :desc).each do |p| %>

        <div class="card-bg col-md-12">
          <div class="post-card-music">
            <div class="card-content-song d-flex justify-content-between">
              <div class="card-cover-playlist col-sm-12 col-md-3">
                <% if p.image_url %>
                  <%= image_tag(p.image_url) %>
                <% else %>
                  <%= image_tag("avatardefaut.jpg") %>
                <% end %>
              </div>
              <div class="card-title-artist col-sm-12 col-md-5">
                <%= link_to playlist_path(p) do %>
                  <h2><%= p.name %></h2>
                  <p>
                    <%= p.artist_names %>
                  </p>
                <% end %>
              </div>
              <div
                class="card-lecture-playlist col-sm-12 col-md-1"
                data-action='click->player#sendplaylist'
                data-playlist-id='spotify:playlist:<%= p.spotify_id %>'
                data-track-id='spotify:track<%= p.songs.first&.spotify_track_id %>'
              >
                <i class="play-circle"><%= image_tag('play.png') %></i>
              </div>
              <div class="trash-picto d-flex justify-content-center">
                <%= link_to playlist_path(p.id), method: :delete do %>
                  <i class="fas fa-times"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>


    <% end %>
  <% else %>
    <br><br>
    <div class="card-bg text-center mt-5">
      <h1>You haven't imported any playlists yet</h1>
      <br>
      <%= image_tag("https://media4.giphy.com/media/XZfc32rGwWllfn4FIB/giphy.gif?cid=790b76117343912fcbdcd905dca60566621916c0e8dfc091&rid=giphy.gif&ct=g", class:"rounded-3") %>
    </div>
  <% end %>
</div>
