    <%= link_to 'Import playlists', playlists_path, method: :post, class: 'yellow-button-lg' %>
    <br><br>


      <% @playlists.each do |p| %>

          <div class="card-result-search">
            <div class="home-post-card-infos">
              <div class="home-post-card-content-top">
                <div class="home-post-card-cover">
                  <% if p.spotify_playlist.images.any? && p.spotify_playlist.images.first && p.spotify_playlist.images.first["url"] %>
                    <%= image_tag(p.spotify_playlist.images.first["url"]) %>
                  <% end %>
                </div>
                <div class="home-post-card-title-artist">
                  <%= link_to playlist_path(p) do %>
                    <h2><%= p.spotify_playlist.name %></h2>
                  <% end %>
                </div>
                <div
                  class="post-card-play"
                  data-action='click->player#sendplaylist'
                  data-playlist-id='spotify:playlist:<%= p.spotify_playlist.id %>'
                  data-track-id='<%= p.spotify_playlist.tracks_cache.first.uri unless p.spotify_playlist.tracks_cache.first.nil? %>'
                >
                  <i class="far fa-play-circle"></i>
                </div>
              </div>
            </div>
          </div>


      <% end %>
