  <h1>See your shaker, you have <%= @songs_in_common.count %> songs in common : </h1>

  <%# @songs_in_common.each do |s| %>
    <%#= s %>
  <%# end %>


    <% @tracks.each do |track| %>
      <div class="card-result-search">
        <div class="home-post-card-infos">
          <div class="home-post-card-content-top">
            <div class="home-post-card-cover">
              <%= image_tag(track.album.images.first["url"]) %>
            </div>
            <div class="home-post-card-title-artist">
              <h2><%= track.name %></h2>
              <h4><%= track.artists[0].name %></h4>
              <p><%= track.duration_ms %></p>
            </div>
            <div class="search-card-action">
              <i class="fas fa-plus"></i>
            </div>
            <div class="search-card-action">
              <i class="fas fa-share"></i>
            </div>
            <div
              class="post-card-play"
              data-action='click->player#sendplaylist'
              data-playlist-id='spotify:playlist:<%= @spotify_playlist.id %>'
              data-track-id='spotify:track:<%= track.id %>'
            >
              <i class="far fa-play-circle"></i>
            </div>
          </div>
        </div>
      </div>
    <% end %>
