<div class="container-right-part">
  <h1>Your shaker has <%= @playlist.songs.count %> tracks</h1>

  <%# @songs_in_common.each do |s| %>
    <%#= s %>
  <%# end %>

  <% if @playlist.songs.count > 0 %>
    <% @playlist.songs.each do |s| %>
      <div class="card-bg col-md-12">
        <div class="post-card-music">
            <div class="card-content-song row col-sm-12 col-md-12">
              <div class="card-cover-playlist col-sm-12 col-md-2 ">
                <div
                class="card-play-song"
                data-action='click->player#sendplaylist'
                data-playlist-id='spotify:playlist:<%= @spotify_playlist.id %>'
                data-track-id='spotify:track:<%= s.spotify_track_id %>'
              >
                <i class="far fa-play-circle"></i>
              </div>
                <% if s.image_url %>
                  <%= image_tag(s.image_url) %>
                <% else %>
                <%= image_tag("avatardefaut.jpg") %>
                <% end %>
              </div>
              <div class="card-title-artist col-sm-12 col-md-8 ">
                <h2><%= s.title %></h2>
                <p><%= s.artist %></p>
              </div>
              <div class="post-card-interraction row col-md-2">
                <%= render 'publications/button_repost', track_id: s.spotify_track_id %>
                <%= render 'publications/button_add', track_id: s.spotify_track_id %>
              </div>
            </div>
        </div>
      </div>
    <% end %>
    <% @playlist.songs.each do |s| %>
      <%= render 'publications/modal_add', track_id: s.spotify_track_id %>
      <%= render 'publications/modal_repost', track_id: s.spotify_track_id %>
    <% end %>
  <% else %>
    <br><br>
    <div class="card-bg text-center mt-5">
      <h1>Sorry, you don't have any songs in common with your buddy</h1>
      <br>
      <%= image_tag("https://media1.giphy.com/media/vyTnNTrs3wqQ0UIvwE/200.webp?cid=ecf05e47ygboj8vr1c446ayl0dsk42pchjqydyji5xiugyt5&rid=200.webp&ct=g", class:"rounded-3") %>
    </div>
  <% end %>
</div>
