<div class="container-right-part">
  <%= link_to 'Back', 'javascript:history.back()', class: 'yellow-button-lg' %>
  <br><br>

  <h1><%= @playlist.name %></h1>
  <p><%= pluralize @playlist.songs.count, 'Track' %></p>

  <% @playlist.songs.each do |s| %>
    <div class="card-bg col-md-12">
      <div class="post-card-music">
          <div class="card-content-song d-flex">
            <div class="card-cover-playlist col-sm-12 col-md-2 ">
              <% if s.image_url %>
                <%= image_tag(s.image_url) %>
              <% else %>
              <%= image_tag("avatardefaut.jpg") %>
              <% end %>
            </div>
            <div class="card-title-artist ">
              <h2><%= s.title %></h2>
              <p><%= s.artist %></p>
            </div>
              <div
                class="card-play-playlist"
                data-action='click->player#sendtrack'
                data-track-id='spotify:track:<%= s.spotify_track_id %>'
              >
                <i class="play-circle w-50"><%= image_tag('play.png') %></i>
              </div>
            <div class="post-card-interraction-song">
              <%= render 'publications/button_repost', track_id: s.spotify_track_id %>
              <%= render 'publications/button_add', track_id: s.spotify_track_id %>
              <% if @playlist.user_id == current_user.id %>
                <%= link_to playlist_song_path(song_id: s.id), method: :delete do %>
                  <% image_tag("trash.png", size: "48x48", alt: "Delete") %>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>

    </div>
  <% end %>
</div>
