<!DOCTYPE html>
<html>
  <head>
    <title>MELOV | Music Social Network</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;700&display=swap" rel="stylesheet">

    <meta property="og:type" content="music.listens">
    <meta property="og:title" content="MELOV | Music Social Network">
    <meta property="og:url" content="https://www.melov.fr/">
    <meta property="og:description" content="Social network around music to share your latest discoveries and create unique playlists linking the tastes of your friends and you.">
    <meta property="og:image" content="<%= image_path 'og-image.jpg' %>">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body data-controller='player' data-player-token-value='<%= current_user&.token %>'>
    <%#= render 'shared/flashes' %>
    <% if user_signed_in? %>
      <%= render 'shared/navbar' %>
      <div class="container-home">
        <div class="container-page-home">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    <div>
    </div>
  </body>
</html>
